@tailwind base;
@tailwind components;
@tailwind utilities;

body { background-color: #000; color: #fff; }

.movie-row::-webkit-scrollbar { height: 8px }
.movie-row::-webkit-scrollbar-thumb { background: rgba(255,255,255,0.12); border-radius: 9999px }
